CreateFile.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "type": "String",
            "metadata": {
                "description": "Name of the logic app."
            }
        },
        "logicAppLocation": {
            "defaultValue": "[resourceGroup().location]",
            "allowedValues": [
                "eastasia",
                "southeastasia",
                "centralus",
                "eastus",
                "eastus2",
                "westus",
                "northcentralus",
                "southcentralus",
                "northeurope",
                "westeurope",
                "japanwest",
                "japaneast",
                "brazilsouth",
                "australiaeast",
                "australiasoutheast",
                "southindia",
                "centralindia",
                "westindia",
                "canadacentral",
                "canadaeast",
                "westcentralus",
                "westus2",
                "[resourceGroup().location]"
            ],
            "type": "String",
            "metadata": {
                "description": "Location of the logic app."
            }
        },
        "onedriveforbusiness_Connection_Name": {
            "defaultValue": "onedriveforbusiness",
            "type": "String",
            "metadata": {
                "description": "Name of the connection."
            }
        }
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2016-06-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('logicAppLocation')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('onedriveforbusiness_Connection_Name'))]"
            ],
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "$authentication": {
                            "defaultValue": {},
                            "type": "SecureObject"
                        }
                    },
                    "triggers": {
                        "Quando_um_arquivo_é_criado": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 3
                            },
                            "metadata": {
                                "b!9ngGQlB0ME-fyEl5KJ18j6Wg5MBigDxBoU8O9UzFYm-B3ZTZwfTfRJZbiKP-_P0Q.01LNNTCILOIH6ICRUQC5AZODTILPXT7LJ4": "/Workspaces",
                                "flowSystemMetadata": {
                                    "swaggerOperationId": "OnNewFileV2"
                                }
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/triggers/onnewfilev2",
                                "queries": {
                                    "folderId": "b!9ngGQlB0ME-fyEl5KJ18j6Wg5MBigDxBoU8O9UzFYm-B3ZTZwfTfRJZbiKP-_P0Q.01LNNTCILOIH6ICRUQC5AZODTILPXT7LJ4",
                                    "simulate": false,
                                    "includeSubfolders": true,
                                    "inferContentType": true
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "actions": {
                        "Metadado": {
                            "runAfter": {},
                            "metadata": {
                                "b!9ngGQlB0ME-fyEl5KJ18j6Wg5MBigDxBoU8O9UzFYm-B3ZTZwfTfRJZbiKP-_P0Q.01LNNTCIKG5ZHDYBEUGBE2RU7M32BXTCLM": "/Workspaces/Workspace da Live 0204/Arquivo01.pbix",
                                "flowSystemMetadata": {
                                    "swaggerOperationId": "GetFileMetadata"
                                }
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerOutputs()['headers']['x-ms-file-id']))}",
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Obter": {
                            "runAfter": {
                                "Metadado": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "flowSystemMetadata": {
                                    "swaggerOperationId": "GetFileContent"
                                }
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(body('Metadado')?['Id']))}/content",
                                "queries": {
                                    "inferContentType": true
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Senha": {
                            "runAfter": {
                                "Obter": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "YourPassWord"
                        },
                        "Token": {
                            "runAfter": {
                                "Senha": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "method": "POST",
                                "uri": "https://login.microsoftonline.com/common/oauth2/token",
                                "headers": {
                                    "Content-Type": "application/x-www-form-urlencoded"
                                },
                                "body": "client_id={ClientID}&grant_type=password&resource=https://analysis.windows.net/powerbi/api&username={User}&password=@{outputs('Senha')}&scope=openid"
                            }
                        },
                        "VerificarWorkspace": {
                            "runAfter": {
                                "Token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "method": "GET",
                                "uri": "https://api.powerbi.com/v1.0/myorg/groups?$filter=name%20eq%20'@{split(body('Metadado')?['Path'], '/')[5]}'",
                                "authentication": {
                                    "type": "Raw",
                                    "value": "Bearer @{body('Token')['access_token']}"
                                }
                            }
                        },
                        "Condição": {
                            "actions": {
                                "Workspace": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "method": "POST",
                                        "uri": "https://api.powerbi.com/v1.0/myorg/groups",
                                        "body": {
                                            "name": "@split(body('Metadado')?['Path'], '/')[5]"
                                        },
                                        "authentication": {
                                            "type": "Raw",
                                            "value": "Bearer @{body('Token')['access_token']}"
                                        }
                                    }
                                },
                                "Publicar": {
                                    "runAfter": {
                                        "Workspace": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "method": "POST",
                                        "uri": "https://api.powerbi.com/v1.0/myorg/groups/@{body('Workspace')['id']}/imports?datasetDisplayName=@{body('Metadado')?['NameNoExt']}&nameConflict=CreateOrOverwrite",
                                        "body": {
                                            "$content-type": "multipart/form-data",
                                            "$multipart": [
                                                {
                                                    "body": "@body('Obter')",
                                                    "headers": {
                                                        "Content-Disposition": "form-data; name=file; filename=@{body('Metadado')?['Name']}"
                                                    }
                                                }
                                            ]
                                        },
                                        "authentication": {
                                            "type": "Raw",
                                            "value": "Bearer @{body('Token')['access_token']}"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "VerificarWorkspace": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Publicar_2": {
                                        "runAfter": {},
                                        "type": "Http",
                                        "inputs": {
                                            "method": "POST",
                                            "uri": "https://api.powerbi.com/v1.0/myorg/groups/@{first(body('VerificarWorkspace')['value'])['id']}/imports?datasetDisplayName=@{body('Metadado')?['NameNoExt']}&nameConflict=CreateOrOverwrite",
                                            "body": {
                                                "$content-type": "multipart/form-data",
                                                "$multipart": [
                                                    {
                                                        "body": "@body('Obter')",
                                                        "headers": {
                                                            "Content-Disposition": "form-data; name=file; filename=@{body('Metadado')?['Name']}"
                                                        }
                                                    }
                                                ]
                                            },
                                            "authentication": {
                                                "type": "Raw",
                                                "value": "Bearer @{body('Token')['access_token']}"
                                            }
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "equals": [
                                    "@body('VerificarWorkspace')['@odata.count']",
                                    0
                                ]
                            },
                            "type": "If"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "onedriveforbusiness": {
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'onedriveforbusiness')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('onedriveforbusiness_Connection_Name'))]",
                                "connectionName": "[parameters('onedriveforbusiness_Connection_Name')]"
                            }
                        }
                    }
                },
                "runtimeConfiguration": {
                    "lifetime": {
                        "unit": "Day",
                        "count": 30
                    },
                    "collections": {
                        "maximumItemCount": 100000
                    },
                    "performanceProfile": {
                        "throttles": {
                            "mode": "Low"
                        }
                    },
                    "retryPolicy": {
                        "type": "Exponential",
                        "interval": "PT5M",
                        "count": 2,
                        "minimumInterval": "PT5M",
                        "maximumInterval": "PT1H"
                    }
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('onedriveforbusiness_Connection_Name')]",
            "location": "[parameters('logicAppLocation')]",
            "properties": {
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'onedriveforbusiness')]"
                },
                "displayName": "[parameters('onedriveforbusiness_Connection_Name')]"
            }
        }
    ]
}